/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #3865c8;
	text-align: center;
}
h2 {
	font: grey;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

#tableEvents-id {
	border: dashed 3px #3290d1;
	background-color: black;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

.tableEvents {
	border-top: thin solid #444444;
	border-left: thin solid #444444;
	border-right: thin solid #111111;
	border-bottom: thin solid #111111;
}

.addEvent {
	border: dashed 3px #3290d1;
  	border-radius: 10px 10px 10px 10px;
  	padding: 10px;
}

.tableWidget{
	border: dashed 3px #3290d1;
  	border-radius: 10px 10px 10px 10px;
  	padding: 10px;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}